<style>
.container{width:100%;margin:auto}
@media (min-width:600px) {.container{width: 80%;}}
@media (min-width:768px) {.container{width: 60%;}}
@media (min-width:1024px) {.container{width: 50%;}}
</style>

<div class="container">
<h1>Welcome to Singapore, NTU</h1>
<p><src="https://img0.baidu.com/it/u=3700052385,3492934144&fm=253&app=138&size=w931&n=0&f=JPEG&fmt=auto?sec=1708621200&t=48c5f04bb2fdae09ea58059105c5a29b"
    width=300 height="200">
</p>
<form action="/main" method="post">
  <h2>My name is Ah Bao, may I know your name : </h2>
  <input type = "text" name="r">
  <input type = "submit" value="Enter" style="width:200px;height:100px;">
</form>
</div>
